# Logs
logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Environment variables - JANGAN PERNAH COMMIT INI
.env
.env.local
.env.*.local
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
dist/
build/

# OS
Thumbs.db

# Wrangler cache
.wrangler/

# Temporary extraction files
extracted_doc_text.txt
